.wrapper {
    display: flex;
    margin-top: 84px;
    margin-bottom: 56;
    gap: 16px;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.label {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    color: var(--gray);
}

.select {
    border-radius: 12px;
    padding: 12px 16px;
    width: 204px;
    height: 44px;
    background: var(--inputs);
    border: none;
}

.button {
    width: 156px;
}