.wrapper {
    width: 924px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 84px;
    margin-bottom: 56px;
    gap: 16px;
}

.field {
    width: 204px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.label {
    font-size: 12px;
    color: var(--gray);
}

.range {
   display: flex;
   width: 320px;
}

.select {
  height: 44px;
  padding: 12px 40px 12px 16px;
  background: var(--inputs);
  border: none;
  border-radius: 12px;
  font-size: 16px;
  color: var(--main);
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* чомусь не працює */
.select option {
  background-color: var(--white) !important;
  color: var(--gray);
}

.from,
.to {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    padding: 12px 40px 12px 16px;
    width: 160px;
    height: 44px;
    background: var(--inputs);
    border: none;   
}

.from::placeholder,
.to::placeholder {
  color: var(--main);
  opacity: 1;
}

.from {
    border-radius: 12px 0 0 12px;
    border-right: 1px solid rgba(18, 20, 23, 0.1);
}

.to {border-radius: 0 12px 12px 0;}

.from::-webkit-inner-spin-button,
.from::-webkit-outer-spin-button,
.to::-webkit-inner-spin-button,
.to::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.select:focus,
.from:focus,
.to:focus {
  outline: none;
  box-shadow: none;
}

.searchButton {
    border: none;
    width: 156px;
    display: block;
    margin-left: 120px;
}

