.card {
    display: flex;
    flex-direction: column;
    width: 276px;
    height: 424px;
}

.imgwrapper {
    position: relative;
    margin-bottom: 16px;
}

.image {
    border-radius: 14px;
    width: 100%;
    height: 268px;
    object-fit: cover;
}

.like {
    position: absolute;
    top: 16px;
    right: 16px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    line-height: 20px;
    flex-shrink: 0;
}

.title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: var(--main);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.span {
    color: var(--blue);
}

.details {
    display: flex;
    flex-wrap: wrap;
    font-family: var(--font-family);
    font-weight: 380;
    font-size: 12px;
    line-height: 133%;
    color: var(--gray);
    margin-bottom: 30px;
    flex-shrink: 0;
}

.dot {
    margin: 0 6px;
}

.break {
    flex-basis: 100%;
    width: 100%;
    height: 0;
    margin: 0;
}

.heartButton {
   background-color: transparent;
  border: none;
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  z-index: 2;
  padding: 4px;
}

.heartIcon {
    width: 16px;
  height: 16px;
  stroke: var(--badges);
  stroke-width: 2;
  transition: fill 0.2s ease;

}