.wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 32px;
    justify-content: flex-start;
    margin-bottom: 80px;
}

.loadMoreButton {
    margin-bottom: 124px;
    background-color: var(--white);
    border: 1px solid var(--blue);
    border-radius: 12px;
    padding: 12px 51px;
    width: auto;
    height: 44px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    color: var(--main);
}

.loadMoreButton:hover,
.loadMoreButton:focus {
    border: 1px solid var(--dark-blue);
}


.noResults {
    font-size: 32px;
    margin: 40px 0;
    color: var(--blue);
    text-align: center;
}