.wrapper {
  display: flex;
  gap: 72px;
  padding: 84px 120px 104px 120px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.img {
  width: 640px;
  height: 512px;
  border-radius: 19px;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  font-size: 28px;
  font-weight: 700;
}

.price {
  font-size: 24px;
  font-weight: 600;
  color: #2563eb;
}